/* HEADER */

header {
  border-top: solid 0.5px black;
  border-left: solid 0.5px black;
  border-right: solid 0.5px black;
}

nav {
  width: 100%;
  background-color: #ffc017;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.logo {
  margin-left: 6rem;
}

#nav-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: auto;
}

nav button {
  margin-right: 6rem;
  width: 6rem;
  height: 2rem;
  border-radius: 20px;
  color: white;
  background-color: black;
  border: solid 1px black;
  margin-left: 1rem;
}

/* MAIN */

/* MAIN INTRO */

#main-intro {
  background-color: #ffc017;
  border: 0.5px black solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.intro-container {
  margin-top: 5rem;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
}

#title {
  font-size: 80px;
  font-family: 'Spectral', serif;
}

.wrap {
  margin-top: 1rem;
  width: 318px;
  font-weight: 300;
}

.intro-button {
  margin-top: 2rem;
}

.intro-button button {
  background-color: black;
  color: white;
  border: black;
  width: 150px;
  height: 30px;
  border-radius: 20px;
}

#artwork {
  width: 500px;
}

/* MAIN ARTICLES */

.article h3:first-of-type {
  margin-left: 5rem;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
}

.article {
  border-bottom: solid 0.5px gray;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  height: 500px;
}

.article-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  max-width: 70%;
}

.articles {
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
  margin-left: 5rem;
  height: 100px;
  max-width: 500px;
}

.articles-container {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  line-height: 1.8rem;
}

#article-title > h3 {
  display: flex;
  align-items: center;
  margin-left: 11.8rem;
  margin-top: 3rem;
}

.imgs {
  border-radius: 100%;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.square {
  width: 1.3rem;
  margin-right: 0.5rem;
  border-radius: 20%;
}

.image {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.article-number {
  display: flex;
  flex-direction: column;
  color: #e6e7e7;
  font-size: 2rem;
}

.sbiadito {
  color: gray;
  font-size: small;
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}

#fourth-article {
  width: 310px;
}

#secondArticlesContainer {
  font-family: 'Roboto', sans-serif;
  font-weight: 350;
  margin-left: 8rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 400px;
  display: flex;
  flex-direction: column;
}

#column-articles {
  justify-content: center;
}

.radius {
  font-weight: 350;
  background-color: #e6e7e7;
  border-radius: 20px;
  padding: 0.2rem;
  width: auto;
  color: gray;
  font-size: 0.7rem;
  height: 1rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.articleSecondSec {
  line-height: 1.5rem;
  width: 350px;
  margin-block: 1rem;
}

.smallP {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1rem;
  color: gray;
}

.gray {
  color: gray;
}

.sbiaditoDue {
  display: flex;
  align-items: center;
  color: gray;
  font-size: small;
  font-weight: lighter;
}

.star {
  width: 1rem;
}

.bookmark {
  width: 1.3rem;
  margin-left: auto;
}

#column-articles {
  display: flex;
  flex-direction: row;
}

#articlesImages {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.immagini {
  width: 150px;
  margin-block: 1rem;
}

.imagesWidth {
  width: auto;
}

/* FOOTER */
#footer {
  margin-left: 7rem;
  margin-top: 5rem;
  font-family: 'Roboto', sans-serif;
}

#footer > .bold > h2 {
  margin-left: 0.2rem;
  height: 2.5rem;
  font-size: small;
}

#footerPBorder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  font-weight: 300;
}

.bordi {
  border: solid 0.5px #e6e7e7;
  color: gray;
  padding: 0.5em;
  font-size: small;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
}

#riga {
  margin-top: 2rem;
  border-top: solid 1px #e6e7e7;
}

#last {
  margin-top: 2rem;
  width: 300px;
  line-height: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.closing {
  margin-inline: 0.3rem;
  font-size: smaller;
  color: gray;
  font-weight: 300;
}
