/* MOBILE FIRST */

/* HEADER */

nav {
  width: 100%;
  border: solid 0.5px black;
  background-color: #ffc017;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.logo {
  margin-left: 6rem;
}

#nav-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: auto;
}

nav button {
  margin-right: 6rem;
  width: 6rem;
  height: 2rem;
  border-radius: 20px;
  color: white;
  background-color: black;
  border: solid 1px black;
  margin-left: 1rem;
}

/* MAIN */
/*
#main-intro {
  border: solid 0.5px black;
  background-color: #ffc017;
  height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  
}


#main-intro > h1 {
  font-size: 70px;
  margin-left: 1rem;
  margin-bottom: -13rem;
}

.wrap {
  font-family: 'Roboto', sans;
  margin-left: 1rem;
  font-size: 1.1rem;
  width: 350px;
  line-height: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}

.wrap > button {
  width: 150px;
  height: 2rem;
  border: solid 1px black;
  margin-top: 2rem;
  color: white;
  background-color: black;
  border-radius: 20px;
}
