/* MOBILE FIRST */

/* HEADER */

header {
  border-top: solid 0.5px black;
  border-left: solid 0.5px black;
  border-right: solid 0.5px black;
}

nav {
  width: 100%;
  background-color: #ffc017;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.logo {
  margin-left: 6rem;
}

#nav-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: auto;
}

nav button {
  margin-right: 6rem;
  width: 6rem;
  height: 2rem;
  border-radius: 20px;
  color: white;
  background-color: black;
  border: solid 1px black;
  margin-left: 1rem;
}

/* MAIN */

#main-intro {
  background-color: #ffc017;
  border: 0.5px black solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.intro-container {
  margin-top: 5rem;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
}

#title {
  font-size: 80px;
  font-family: none;
}

.wrap {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 318px;
}

.intro-button {
  margin-top: 2rem;
}

.intro-button button {
  background-color: black;
  color: white;
  border: black;
  width: 150px;
  height: 30px;
  border-radius: 20px;
}

#artwork {
  width: 500px;
}
